
.RData
.Rhistory
Figs/unnamed-chunk-9-3.pdf
Figs/unnamed-chunk-9-2.pdf
Figs/unnamed-chunk-9-1.pdf
Figs/unnamed-chunk-8-3.pdf
Figs/unnamed-chunk-8-2.pdf
Figs/unnamed-chunk-8-1.pdf
Figs/unnamed-chunk-7-1.pdf
Figs/unnamed-chunk-6-1.pdf
Figs/unnamed-chunk-5-1.pdf
Figs/unnamed-chunk-4-1.pdf
Figs/unnamed-chunk-22-1.pdf
Figs/unnamed-chunk-21-1.pdf
Figs/unnamed-chunk-20-2.pdf
Figs/unnamed-chunk-20-1.pdf
Figs/unnamed-chunk-19-2.pdf
Figs/unnamed-chunk-19-1.pdf
Figs/unnamed-chunk-17-1.pdf
Figs/unnamed-chunk-15-1.pdf
Figs/unnamed-chunk-14-1.pdf
Figs/unnamed-chunk-12-1.pdf
Figs/unnamed-chunk-11-1.pdf
Figs/unnamed-chunk-10-3.pdf
Figs/unnamed-chunk-10-2.pdf
Figs/unnamed-chunk-10-1.pdf
Figs
tmp-pdfcrop-16872.tex
.DS_Store
